<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="carousel">
    <head>
        <link rel="stylesheet" href="/css/owl/owl.carousel.min.css">
        <link rel="stylesheet" href="/css/owl/owl.theme.default.css">
    </head>

    <body>
        <div class="owl-carousel" style="width: 1200px;">
            <img src="/imgs/dummy/lisa.png">
            <img src="/imgs/dummy/lisa.png">
            <img src="/imgs/dummy/lisa.png">
            <img src="/imgs/dummy/lisa.png">
        </div>

        <script src="/jss/owl/jquery-3.5.1.min.js"></script>
        <script src="/jss/owl/owl.carousel.js"></script>
        <script src="/jss/owl/owl.autoplay.js"></script>

        <th:block layout:fragment="script">
            <script th:inline="javascript">
                $(document).ready(function () {
                    var owl = $('.owl-carousel');
                    owl.owlCarousel({
                        items: 4,
                        loop: true,
                        margin: 10,
                        autoplay: true,
                        autoplayTimeout: 1000,
                        autoplayHoverPause: true
                    });
               
            </script>
        </th:block>
    </body>
</div>
</html>