<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/css/homepage.css">
    <style>
        .stories {
            position: relative;
        }

        .stories video {
            vertical-align: middle;
            transition: 0.5s all ease-in-out;
        }

        .stories:hover video {
            transform: scale(1.12);
        }

        .stories .overlay-desc {
            background: rgba(0, 0, 0, 0);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: left;
            justify-content: center;
        }

        .overlay-desc h1 {
            color: white;
            font-size: small;
            text-align: start;


        }

        h1 {
            color: white;
            font-size: small;
            text-align: start;

  
        }
    </style>
</head>

<body>

    <div th:insert="~{header_footer/header::header}"></div>
    <div th:insert="~{main/wall::wall}"></div>

    <div th:insert="~{main/hotgifs::hotgifs}"></div>

    <div th:insert="~{main/brandnew::brandnew}"></div>
    <div class="gifs"></div>

    <div th:insert="~{main/wall::wall}"></div>
    <div th:insert="~{header_footer/footer::footer}"></div>

    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/js/jquery.lazy.min.js}"></script>
    <script th:src="@{/js/jquery.lazy.plugins.min.js}"></script>
    <script th:src="@{/js/waterfall.min.js}"></script>

</body>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(window).resize(function () {
            waterfall('.gifs');
        });
        let pageNum = 1;
        let stories = [[${ stories }]];
        let total = [[${ total }]];
        let lastId;
        let count = stories.length;
        let gifs = document.querySelector('.gifs');
        for (let i = 0; i < stories.length; i++) {
            let story = stories[i];

            let dfv = document.createElement("dfv"); // div for video
            dfv.setAttribute("width", 248);
            dfv.setAttribute("class", "stories");
            let aTag = document.createElement("a");
            aTag.setAttribute("href", "http://localhost:8080/main/story/" + story.from + "/" + story.id);

            let video = document.createElement("video");
            video.setAttribute("width", 248);

            video.muted = true;
            video.loop = true;
            video.autoplay = true;

            let source = document.createElement("source");
            source.setAttribute("src", "data:video/mp4;base64," + story.imgbyteArray);
            source.setAttribute("type", "video/mp4");
            source.setAttribute("class", "lazy lazy" + i % 5);

            //
            let title = document.createElement("span"); // 추가 
            title.setAttribute("class", "overlay-desc"); // 추가 
            let h1 = document.createElement("h1"); // 추가 
            h1.innerHTML = story.title; // 추가 
            title.appendChild(h1); // 추가 

            //

            video.appendChild(source);

            dfv.appendChild(video);
            dfv.appendChild(title);

            aTag.appendChild(dfv);
            gifs.appendChild(aTag);

            lastId = story.id;

        }
        $('.lazy').Lazy({
            afterLoad: function () {
                waterfall('.gifs');
            }
        });
        waterfall('.gifs'); // 맨처음에 가져온것들은 한번 더해야 lainfall이 적용되네 이상하다

        let callFlag = 0;
        $(function () {
            $(window).scroll(function () {
                waterfall('.gifs');
                let $window = $(this);
                let scrollTop = $window.scrollTop();
                let windowHeight = $window.height();
                let documentHeight = $(document).height();
                if (scrollTop + windowHeight >= documentHeight) {
                    if ((total > count) && callFlag == 0) { // total이랑 latId가 다르기 때문에 모든움짤 검색은 조건이 달라야 한다
                        callFlag = 1; // 호출중복 방지 Flag
                        $.ajax({
                            url: '/main/storyadd',
                            type: 'get',
                            data: {
                                page: pageNum
                            },
                            beforeSend: function () {

                                $("#loading").show();
                            }
                            , complete: function () {
                                $("#loading").hide();

                            }
                            , success: function (data) {
                                for (let i = 0; i < data.length; i++) {
                                    let story = data[i];
                                    let dfv = document.createElement("dfv"); // dfv = div for video
                                    dfv.setAttribute("width", 248);
                                    dfv.setAttribute("class", "stories");

                                    let aTag = document.createElement("a");
                                    aTag.setAttribute("href", "http://localhost:8080/main/story/" + story.from + "/" + story.id);

                                    let video = document.createElement("video");
                                    video.setAttribute("width", 248);

                                    video.muted = true;
                                    video.loop = true;
                                    video.autoplay = true;

                                    let source = document.createElement("source");
                                    source.setAttribute("src", "data:video/mp4;base64," + story.imgbyteArray);
                                    source.setAttribute("type", "video/mp4");
                                    source.setAttribute("class", "lazy lazy" + i % 5);

                                    let title = document.createElement("span"); // 추가 
                                    title.setAttribute("class", "overlay-desc"); // 추가 
                                    let h1 = document.createElement("h1"); // 추가 
                                    h1.innerHTML = story.title; // 추가 
                                    title.appendChild(h1); // 추가 

                                    video.appendChild(source);

                                    dfv.appendChild(video);
                                    dfv.appendChild(title);

                                    aTag.appendChild(dfv);  
                                    gifs.appendChild(aTag);


                                    lastId = story.id;
                                    count++;
                                }
                                $('.lazy').Lazy();
                                waterfall('.gifs');
                                callFlag = 0;
                            }
                        });
                        pageNum++;
                    }
                }

            });
        });


    </script>
</th:block>

</html>