<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="hotgifs">
  <style>
#video{
  object-fit: initial;
  width: 100px;
  height: 100px;  
}    
  </style>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  
  <div class="container">
    <div style="width: 1100px; " class="row">  
      <div class="col-md-12">
        <div id="Carousel" class="carousel slide">
          <h1 style="color: aliceblue; ">🔥 인기 움짤 🔥</h1>
          <ol>
            <li data-target="#Carousel" data-slide-to="0" class="active"></li>
            <li data-target="#Carousel" data-slide-to="1"></li>

          </ol>

          <div class="carousel-inner" style="height:130px" > 
          

      

          </div>
          <!--.carousel-inner-->
          <a data-slide="prev" href="#Carousel" class="left carousel-control"></a>
          <a data-slide="next" href="#Carousel" class="right carousel-control"></a>
        </div>
        <!--.Carousel-->

      </div>
    </div>
  </div>
  <!--.container-->
  <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
  <th:block layout:fragment="script">
    <script th:inline="javascript">
      let carouselinner=document.querySelector(".carousel-inner");
      $(function () {
        $.ajax({
          url: '/main/trending',
          type: 'get',
          success: function (data) {
            let row1 = document.createElement("div");
            

            for (let i = 0; i < 4; i++) {
              let hotgif = data[i];  

              let col = document.createElement("div");
              col.setAttribute("class", "col-md-3");

              let aTag = document.createElement("a");
              aTag.setAttribute("href", "http://localhost:8080/" + hotgif.from + "/movie/" + hotgif.id);

              let videoContainer = document.createElement("video");
              videoContainer.muted = true;
              videoContainer.loop = true;
              videoContainer.autoplay = true;     
              videoContainer.setAttribute("style","max-width:100%;");  
                      
              
              let video = document.createElement("source");
              video.setAttribute("src", "data:video/mp4;base64," + hotgif.imgbyteArray);
              video.setAttribute("type", "video/mp4");
            
  
              videoContainer.appendChild(video);  
              aTag.appendChild(videoContainer);     
              col.appendChild(aTag);
              row1.appendChild(col);
            }
            let item = document.createElement("div");
            item.setAttribute("class", "item active");

            item.appendChild(row1);
            carouselinner.appendChild(item);


            let row2 = document.createElement("div");  
            for (let i = 4; i < data.length; i++) {
              let hotgif = data[i];

              let col = document.createElement("div");
              col.setAttribute("class", "col-md-3");

              let aTag = document.createElement("a");
              aTag.setAttribute("href", "http://localhost:8080/" + hotgif.from + "/movie/" + hotgif.id);

              let videoContainer = document.createElement("video");
              videoContainer.muted = true;
              videoContainer.loop = true;
              videoContainer.autoplay = true;
              videoContainer.setAttribute("style","max-width:100%;");  
       
                
              let video = document.createElement("source");
              video.setAttribute("src", "data:video/mp4;base64," + hotgif.imgbyteArray);
              video.setAttribute("type", "video/mp4");
           

              videoContainer.appendChild(video);  
              aTag.appendChild(videoContainer);
              col.appendChild(aTag);
              row2.appendChild(col);   
            }
            let item2 = document.createElement("div"); 
            item2.setAttribute("class","item");
            item2.appendChild(row2);
            carouselinner.appendChild(item2);
          }
        });
      });
    </script>
  </th:block>

</div>




</html>