


.gifs {

    width: 1200px;
    left: 20px;
    margin: auto;
    display: grid;
    /* grid-template-columns: 600px 400px 400px; */
    /* grid-template-rows: 350px 350px; */
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}


video{
    /* grid-column-start: 1; */
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
}


source.lazy0 {

    background-size: auto;
    background-repeat: no-repeat;
    background-color: dodgerblue;
}



source.lazy1 {

    background-size: auto;
    background-repeat: no-repeat;
    background-color: royalblue;
}

source.lazy2 {

    background-size: auto;
    background-repeat: no-repeat;
    background-color: darkslateblue;
}

source.lazy3 {

    background-size: auto;
    background-repeat: no-repeat;
    background-color: darkmagenta;
}

source.lazy4 {

    background-size: auto;
    background-repeat: no-repeat;
    background-color:blueviolet;
}