<html xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
      #des{
          color: white;
      }
      #select{  
        margin-left: 300px;
        width: 350px;
        height: 300px;
      } 

      label{
          color: white;
      }

    </style>
    <meta charset="UTF-8">
    <title >움짤 등록</title>
    <link rel="stylesheet" href="/css/upload/upload.css" crossorigin="anonymous">


    <link rel="stylesheet" href="/css/jquery.tagsinput-revisited.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
</head>
   
<body>
    <div th:insert="~{header_footer/header::header}"></div>
    <div th:insert="~{main/wall::wall}"></div>

    <div  class="container" >
        <p id="des"class="h2 text-center">움짤 등록</p>
        <form id="form" action="/uploadgif" method="post" enctype="multipart/form-data">
            <div class="preview text-center">
                <div class="show">
                    <img class="preview-gif"
                        src="https://www.freepngimg.com/thumb/video_camera/28976-9-camera-icon-free.png" width="400"
                        height="300" />
                    <video hidden class="preview-mp4" muted autoplay loop width="250" height="200" src=""></video>
                </div>


                <div id="select" class="browse-button">
                    <input class="browse-input" type="file" required name="file" id="UploadedFile"
                        onchange="previewImg()" />
                </div>
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <label>제목</label>
                <input class="form-control" type="text" style="font-size: larger;" name="title" placeholder="제목" />
                <span class="Error"></span>
            </div>

            <div class="form-group">
                <label>태그</label>
                <input class="form-control tags" type="text" name="tags" required placeholder="Enter Password" />
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <label>나라</label><br />
                <label><input type="radio" name="from" required value="KOR" checked /> KOR</label>
                <label><input type="radio" name="from" required value="USA" /> USA</label>
                <label><input type="radio" name="from" required value="JAPAN" /> JAPAN</label>
                <label><input type="radio" name="from" required value="MARVEL" /> MARVEL</label>
                <span class="Error"></span>
            </div>

        </form>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="button" id="upload" onclick="sumbit()">Submit</button>
        </div>
    </div>


    <div th:insert="~{main/wall::wall}"></div>

    <div th:insert="~{header_footer/footer::footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/js/jquery.lazy.min.js}"></script>
<script th:src="@{/js/jquery.lazy.plugins.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-tagsinput.min.js}"></script>
<script th:src="@{/js/jquery.tagsinput-revisited.js}"></script>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $('.tags').tagsInput({

            interactive: true,
            placeholder: '콤마를 이용해서 태그를 분리하세요',
            width: 'auto',
            height: 'auto',
            hide: true,
            delimiter: ',',
            validationPattern: new RegExp('^[ㄱ-ㅎ|ㅏ-ㅣ|가-힣a-zA-Z0-9\\s]+$'),
            removeWithBackspace: true,
            whitelist: null

        });

        function sumbit() {
            let title = document.getElementsByName("title")[0].value;
            let file = document.getElementsByName("file")[0].value;
            let tags = document.getElementsByName("tags")[0].value;
            if (title == "" || file == "" || tags == "") {
                alert("값이 누락되었거나 잘못되었습니다")
            } else {
                $("#form").submit();
            }
        }


        function previewImg() {

            let show = document.querySelector(".show");
            let file = document.querySelector('input[type=file]').files[0];
            let fileType = file.name.slice(-3);
            let gif = document.querySelector('.preview-gif');
            let mp4 = document.querySelector('.preview-mp4');
            let reader = new FileReader();
            if (fileType == "gif") {

                reader.addEventListener("load", function () {

                    gif.hidden = false;
                    mp4.hidden = true;
                    gif.src = reader.result;
                }, false);
                if (file) {
                    reader.readAsDataURL(file);
                }
            }
            else if (fileType == "mp4") {
                reader.addEventListener("load", function () {

                    gif.hidden = true;
                    mp4.hidden = false;
                    mp4.src = reader.result;
                }, false);
                if (file) {
                    reader.readAsDataURL(file);
                }
            } else {
                alert("mp4, gif 파일을 첨부해주세요");
                document.getElementsByName("file")[0].value = "";
                gif.src = "https://www.freepngimg.com/thumb/video_camera/28976-9-camera-icon-free.png";
                gif.hidden = false;
                mp4.hidden = true;
            }

        }



    </script>
</th:block>


</html>