<html xmlns:th="http://wwww.thymeleaf.org" 
xmlns:sec="http://wwww.thymeleaf.org/thymeleaf-extras-springsecurity5"
>

<head>
</head>
Sorry can't find the movie
    <body>
        <h1 style="color: green;">AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</h1>
        <h1 style="color: red;">[[${#authentication}]] : is user infortation</h1>
        <h1 style="color: green;">AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</h1>
</body>
<th:block layout:fragment="script">
    <script th:inline="javascript">
 

    </script>
</th:block>

</html>